Submitted by: **Muhammad Talha Iftikhar**<br>
**BESE-28-A**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [3]:
df = pd.read_csv('train_and_test2.csv')

In [4]:
df.head(5)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [5]:
#checking the column names
for col in df.columns:
  print(col)

Passengerid
Age
Fare
Sex
sibsp
zero
zero.1
zero.2
zero.3
zero.4
zero.5
zero.6
Parch
zero.7
zero.8
zero.9
zero.10
zero.11
zero.12
zero.13
zero.14
Pclass
zero.15
zero.16
Embarked
zero.17
zero.18
2urvived

In [6]:
df.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

**Task1:** Impute missing values in the Age column using the median.

In [7]:
#there is no missing value in age column

median_age = df['Age'].median()


df['Age'].fillna(median_age, inplace=True)

<ipython-input-7-a72ee7e32374>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)

**Task2: Fill missing values in the Embarked column with the most frequent value.**

In [8]:
most_frequent_embarked = df['Embarked'].mode()[0]

most_frequent_embarked

df['Embarked'].fillna(most_frequent_embarked, inplace=True)

<ipython-input-8-36ca020b1fa2>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(most_frequent_embarked, inplace=True)

**Task3: Drop rows with missing Cabin data.**

In [10]:
# df.dropna(df['Cabin'], inplace=True)

df.dropna()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [11]:
df.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       0
zero.17        0
zero.18        0
2urvived       0
dtype: int64

**Task4: Convert the Pclass column to a categorical variable.**

In [12]:
print(df['Pclass'].dtype)
df['Pclass'] = df['Pclass'].astype('category')
print(df['Pclass'].dtype)

int64
category

**Task5: Ensure the Fare column is a float, not an integer.**

In [13]:
print(df['Fare'].dtype)
df['Fare'] = df['Fare'].astype(float)
print(df['Fare'].dtype)

float64
float64

**Task6: Analyze if Age has outliers and handle them accordingly.**

In [14]:
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


outliers = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]
print(outliers)

no_outliers = df[(df['Age'] >= lower_bound) & (df['Age'] <= upper_bound)]
# any_outlier = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]
# print("#####################################################################3")
# print(any_outlier)

      Passengerid    Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
7               8   2.00   21.0750    0      3     0       0       0       0
11             12  58.00   26.5500    1      0     0       0       0       0
15             16  55.00   16.0000    1      0     0       0       0       0
16             17   2.00   29.1250    0      4     0       0       0       0
33             34  66.00   10.5000    0      0     0       0       0       0
...           ...    ...       ...  ...    ...   ...     ...     ...     ...
1234         1235  58.00  512.3292    1      0     0       0       0       0
1245         1246   0.17   20.5750    1      1     0       0       0       0
1247         1248  59.00   51.4792    1      2     0       0       0       0
1269         1270  55.00   50.0000    0      0     0       0       0       0
1278         1279  57.00   13.0000    0      0     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
7          0  ...        0        0        0       3        0        0
11         0  ...        0        0        0       1        0        0
15         0  ...        0        0        0       2        0        0
16         0  ...        0        0        0       3        0        0
33         0  ...        0        0        0       2        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1234       0  ...        0        0        0       1        0        0
1245       0  ...        0        0        0       3        0        0
1247       0  ...        0        0        0       1        0        0
1269       0  ...        0        0        0       1        0        0
1278       0  ...        0        0        0       2        0        0

      Embarked  zero.17  zero.18  2urvived
7          2.0        0        0         0
11         2.0        0        0         1
15         2.0        0        0         1
16         1.0        0        0         0
33         2.0        0        0         0
...        ...      ...      ...       ...
1234       0.0        0        0         0
1245       2.0        0        0         0
1247       2.0        0        0         0
1269       2.0        0        0         0
1278       2.0        0        0         0

[101 rows x 28 columns]

**Task7: Remove any duplicate rows if found.**

In [15]:
df = df.drop_duplicates()

In [17]:
x = df.drop('2urvived', axis=1)
y = df['2urvived']


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)


lr = LogisticRegression(max_iter=200)
lr.fit(x_train, y_train)


y_pred = lr.predict(x_test)


accuracy = metrics.accuracy_score(y_test, y_pred) * 100
print("Accuracy:", accuracy)

Accuracy: 79.89821882951654